*{
    margin: 0;
    padding: 0;
}
.nav-links{
    background-color:moccasin;
    opacity: 0.8;
    padding: 20px 20px;
    /* border: 1px black solid; */
    /* height: 20vh; */
    /* width: 90%; */
}
.links{
text-decoration: none;
margin: auto;
/* border: 1px black solid; */
padding: 5px 5px;
/* width: 80%; */
}
.links{
    /* border: 1px solid black; */
    text-align:center
}
.links li{
    display: inline;
    /* flex-basis:column; */
    list-style:none;
    margin: 0 20px;
    padding: 10px 10px;
    /* border:1px black solid; */
    border-bottom: 1px black solid;
    transition: 1s;
    /* width: 80%; */
}
.links li:hover{
    background-color:tomato;
}
.links li a{
    text-decoration: none;
    color: red;
    padding: 10px 10px;
    transition: 1s;
}
.links li a:hover{
    color: white;
}
.introduction{
    background-color:mintcream;
    margin: auto;
}
.introduction h1{
    color: chocolate;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding:10px 10px;
}
.introduction h2{
    color:maroon;
    text-align: center;
    font-weight: 100;
    /* border-bottom: 1px black solid; */
    /* width: 30%; */
}
.introduction p{
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 10px;
}
.mission-vision{
    display: flex;
    flex-direction: row;
    width: 97%;
    padding: 20px 20px;
    margin: auto;
    /* justify-content: space-evenly; */
    /* border: 1px black solid; */
}
.mission, .vision{
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 1px 1px;
    padding: 5px 5px;
}

.mission h2, .vision h2{
    color: rgb(240, 57, 94);
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
.mission p, .vision p{
    text-align: start;
    letter-spacing: 1px;
}
.join-us{
    background-color:cornsilk;
    margin: 5px 5px;
    padding: 20px 20px;
    text-align: center;
}
.join-us p{
    font-size: 18px;
    font-weight: 100;
    padding: 10px 10px;
}
.join-us button{
    background-color:coral;
    border-radius:5px;
    padding: 10px 30px;
    border: none;
    transition: 1s;
}
.join-us button:hover{
    background-color:crimson;
    border-radius:5px;
    padding: 10px 30px;
    border: none;
    transform: translateY(5px);
    /* transform: translateX(5px); */
}
.join-us a{
    text-decoration:none;
    font-size: 13px;
    padding: 5px 5px;
    color: white;
    text-transform: uppercase;
}
.welcome-remarks{
    text-align: center;
    background-color:beige;
    padding: 10px 10px;
    border-radius: 10px;
}
.welcome-remarks p{
    margin:10px 10px;
    padding: 10px 10px;
    color: blue;
}
.footer{
    background-color:darkslategray;
    opacity: 0.7;
    height: 30vh;
    padding: 10px 10px;
    margin: 20px 20px;
    border-radius: 10px;
}
.our-resources-tittle{
    /* background-color:whitesmoke; */
    margin: 5px 5px;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
}
.our-resources-tittle h2{
    color: crimson;
    text-align: center;
    /* border-bottom: 1px black solid; */

}
.resources{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
    border-radius: 10px;
    margin: 20px 20px;
    /* width:80%; */
    /* margin: auto; */
}
.resource{
text-align: center;
}
.resource img{
    width: 200px;
    border-radius: 10px;
    background-size: cover;
    padding: 10px 10px;

}
.resource p{
    color: black;
    padding: 10px 10px;
    font-size: 20px;
}
.resource button{
    padding: 10px 15px;
    background-color: rgb(232, 57, 248);
    border:none;
    border-radius: 10px;
}
.resource button a{
    text-decoration: none;
    color: black;
    /* text-transform: uppercase; */
    padding: 5px 10px;
}
@media(max-width:618px){

    .links li{
        display: inline;
        list-style:none;
        margin: auto;
        padding: 10px 10px;
        /* border:1px black solid; */
        border-bottom: none;
        border-left: 1px black solid;
        /* border-radius: 0 10px; */
        transition: 1s;
        /* width: 80%; */
    }

    .mission-vision{
        display: flex;
        flex-direction: column;
        width: 97%;
        padding: 20px 20px;
        margin: auto;
        /* justify-content: space-evenly; */
        /* border: 1px black solid; */
    }
}

@media(max-width:480px){

    .links li{
        display: flex;
        flex-basis: row;
        justify-content: space-around;
        margin: none;
        padding: 10px 10px;
        /* border:1px black solid; */
        border-bottom: none;
        border-left: 1px black solid;
        /* border-radius: 0 10px; */
        transition: 1s;
        /* width: 80%; */
    }
}